h1{
font-family: "Comic Sans MS", cursive, sans-serif;
color:blue'
background-image: url("https://i.ytimg.com/vi/pAYniJtEO1I/maxresdefault.jpg")
}
p{
font-family: "Comic Sans MS", cursive, sans-serif;
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/101/237/non_2x/free-abstract-background-11-vector.jpg")
}
