body{
    background-image: url("https://i.ytimg.com/vi/pAYniJtEO1I/maxresdefault.jpg") {  
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;}
 }
h1{
font-family: "Comic Sans MS", cursive, sans-serif;
color:blue'
}
p{
font-family: "Comic Sans MS", cursive, sans-serif;
}
